
html::-webkit-scrollbar{
    display: none;
}

/*推荐区域*/
.recommend{
    margin: 10px;
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*推荐区域标题*/
.homepage-title{
    width: 100%;
    height: 2rem;   
}
#bili-icon{
    height: 2rem;
    width: 2rem;
    display: inline-block;
}
h3{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}
.live-subtitle{
    line-height: 2rem;
    font-size: 0.8rem;
    margin-left: 10px;
}
.homepage-title .more{
    height: 2rem;
    cursor: pointer;
    text-align: center;
    width: 4rem;
}
.homepage-title .more:hover{
    background: #eee;
    border-radius: 5px;
}
.homepage-title .more span{
    line-height: 2rem;
    font-size: 1rem;
}
.homepage-title .more .iconfont{
    font-size: 1rem;
    line-height: 2rem;
}

.homepage-title .recommend-refresh {
    height: 2rem;
    width: 2rem;
    display: block;
    text-align: center;
    cursor: pointer;
}
.homepage-title .recommend-refresh:hover{
    background-color: #eee;
    border-radius: 5px;
}

.homepage-title .recommend-refresh .iconfont{
    font-size: 1.2rem;
    line-height: 2rem;
    color: black;
}




/* 视频区域 */
.recommend-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (min-width : 1100px){
    .recommend-container{
        display: grid;
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
    }
}

.video-area {
    position: relative;
    margin: 5px;
    cursor: pointer;
}

.video-area .video-cover{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
.video-area .video-title{
    position: absolute;
    background-color:rgba(90, 90, 90, 0.7);
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .8rem;
    color: white;
    left: 0;
    bottom: 0;
    width: calc(100% - 5px);
    display: block;
    border-radius: 3px 3px 5px 5px;
    padding-left: 5px;
}
/* 视频遮罩 */
.video-mask{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    border-radius: 5px;
}
.video-area:hover .video-mask{
    display: block;
}
.video-mask .up-area{
    margin: 5px;
    overflow: hidden;
}
.video-mask .up-area img{
    width: 15%;
    border-radius: 50%;
    
}
.video-mask .up-area .up-name{
    color: white;
    font-size: .9rem;
    margin-left: 5px;
    
}
